{% load static %}
<!--Cargar los elementos de static-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link type="text/css" rel="stylesheet" href='{% static "css/style-navbar.css"%}' />
</head>
<body>
    {% include "navbar.html"%}
    <h1>Curso Django: transversal </h1>
    <img src='{% static "img/isp-desing.jpg" %}'/>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
    <footer><p>Este es el pie de página, Contenido transversal</p></footer>
    <script src='{% static "js/layout.js" %}'></script>
</body>
</html>