<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parametros</title>
</head>
<body>
    <h1>Plantilla que recibe parametros</h1>
    <p>Nombre del canal : {{nombreCanal}}</p>
    <p>Fecha actual es: {{fechaActual.day}} / {{fechaActual.month}} / {{fechaActual.year}}</p>
    <h2>Lenguajes de programación</h2>
    <h3>Número de lenguajes:</h3>
    <p>Hay {{lenguajes|length}} lenguajes de programación </p>
    {#este es un comentario deuna linea#}
    <ul>
        {% for item in lenguajes %}
            {% if item == "python"%}
                <li style="background-color: orange;">{{item}}</li>
            {% else %}
                <li>{{item|lower}}</li>
            {% endif%}            
        {% endfor %}
    </ul>
    {% comment %}
        Este es un
        comenytario de mas
        de una línea
    {%endcomment%}
</body>
</html>