#miBarra{
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    background-color: rgb(143, 141, 138);
}
#miBarra li{
    display: inline;
    margin: 0, 30px;
    padding: 10px;
}